<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add A POI</title>
    <script type="module" src="../addPOI.js"></script>
</head>
<body>
    <a href="../views/regionSearch.html">Link To Region Search</a>
    <h1>Add A POI</h1>
        Name <input  id="name" />
        Type <input id="type"/>
        Country <input id="country" />
        Region <input id="region" />
        Longitude <input id="lon" />
        Latitude <input id="lat" />
        Description <input id="desc" />
        Recommendations <input id="rec" />
        <input type="submit" id="addPOI" value="GO!" />
    <div id="results"></div>
</body>
</html>