<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Region Search</title>
    <link rel='stylesheet' href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css'/>
    <script type='text/javascript' src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js'></script>
    <script type="module" src="../regionSearch.js"></script> 
</head>
<body>
    <div id="loginResults">
    </div>

    <h1>Search By Region</h1>
    Region: <input id="regionName"/>
    <input type="submit" id="regionsearch" value="Search" />
    <div id="map1" style="width:800px; height:600px"></div>
    <div id="results1"></div>
</body>
</html>