body{
    background-color:aliceblue;

}

h1{
    color: cornflowerblue;
    text-decoration: underline;
}
strong{
    font-size: 12px;
}
.addS{
    background-color: gainsboro;
}
#loginResults{
    position: absolute;
    right:0;
    top:0;
    
}
#results1{
    float:right;
    position: relative;
    top: 30px;
    right: 20px;
   
}
#root{
    float:left;
    position:relative;
    max-width:700px;
}

img{
    max-width: 50%;
    max-height: 50%;
    display: block;
}
.lgnS{
    position: relative;
}
fieldset{
    border:0;
}
