body{
    background-color:aliceblue;

}

h1{
    color: cornflowerblue;
    text-decoration: underline;
}
strong{
    font-size: 25px;
}
.addS{
    background-color: gainsboro;
}
#loginResults{
    position: absolute;
    right:0;
    top:0;
    border: 1px solid #000000;
}
.lgnS{
    position: relative;
}